<div x-data="{ modalOpen: false }">
    <button @click="modalOpen = true" type="button"
            class="rounded-md bg-red-600 p-1 font-medium text-white shadow-sm transition-colors hover:bg-red-800">
        Supprimer
    </button>

    <div x-show="modalOpen"
         x-transition
         x-cloak
         class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
        <div @click.away="modalOpen = false"
             class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full text-center">
            <h2 class="text-xl font-semibold mb-4 text-gray-800">Confirmer la suppression</h2>
            <p class="mb-4 text-gray-600 break-words whitespace-normal">Êtes-vous sûr de vouloir supprimer ce code promo ? Cette action est irréversible.</p>
            {% if not isExpired and codesLength == 5 %}
                <p class="mb-6 text-red-600">Attention: Vous perdrez votre avantage VIP</p>
            {% endif %}

            <div class="flex justify-center gap-4">
                <button @click="modalOpen = false"
                        type="button"
                        class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400 transition">
                    Annuler
                </button>

                <form method="post" action="{{ path('app_code_delete', {'id': code.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ code.id) }}">
                    <button class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 transition">
                        Supprimer
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
