<header class="bg-white">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex">
            {% if not is_granted('ROLE_USER') %}
                <p class="me-3"><a href="{{ path('app_register') }}" class="rounded-md bg-green-600 p-2 font-medium text-white shadow-sm transition-colors hover:bg-green-800">Créer un compte</a></p>
                <p><a href="{{ path('app_login') }}" class="rounded-md bg-violet-600 p-2 font-medium text-white shadow-sm transition-colors hover:bg-violet-800">Connexion</a></p>
            {% else %}
                {% if app.request.get('_route') != 'app_dashboard' %}
                    <p class="me-3"><a href="{{ path('app_dashboard') }}" class="rounded-md bg-green-600 p-2 font-medium text-white shadow-sm transition-colors hover:bg-green-800">Tableau de bord</a></p>
                {% endif %}
                <p><a href="{{ path('app_logout') }}" class="rounded-md bg-red-600 p-2 font-medium text-white shadow-sm transition-colors hover:bg-red-800">Deconnexion</a></p>
            {% endif %}
        </div>
    </nav>
</header>