<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-gray-100 text-gray-900">
        <style>
            [x-cloak] { display: none !important; }
        </style>
        <header class="bg-white shadow-md">
            <div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    {% include 'partials/_header_logo.html.twig' %}
                    {% include 'partials/_header_nav.html.twig' %}
                </div>
            </div>

            {% if is_granted('ROLE_USER') %}
                {% include 'partials/_header_secondary.html.twig' %}
            {% endif %}
        </header>
        {% include '_flash_message.html.twig' %}
        {% include '_vip_alert.html.twig' %}
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>
